:root {
    --color_blue: #004EDA;
    --color_grey: #e4e4ea;
    --color_grey_secondary: #5a5a5f;
    --color_black: #111;
    --color_pip: color-mix(in srgb, var(--color_grey), black 10%);

    --default_padding: 2rem;
    --midle_padding: calc(var(--default_padding) / 2);

    --default_padding_top: 1rem;

    --gap_default_top_nav: 1.2rem;

}

* {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
}

body {
    font-family: 'Poppins', sans-serif;
    min-height: 100%;
    max-width: 100vw;
    overflow-x: hidden;
    /* font-size: ''; */

    display: grid;
    grid-template-columns: 240px 1fr;
    grid-template-rows: 70px minmax(calc(100vh - 70px), auto);
    color: var(--color_grey_secondary);
}

.topNav {
    grid-column: 2 / -1;
    grid-row: 1;
    /* background-color: blue; */

    display: flex;
    justify-content: space-between;
    padding-right: var(--default_padding);
    height: 100%;
    border-left: 2px solid var(--color_pip);
}

.perfil {
    display: flex;
    align-items: center;
    gap: var(--midle_padding);
    height: 100%;
}

.perfil_thumb {
    height: 100%;
    padding: .5em;
    box-sizing: border-box;
}

.perfil_thumb img {
    height: 100%;
}

.perfil_autor div:nth-child(1) {
    font-size: 1rem;
    font-weight: 600;
    color: var(--color_black);
    border-bottom: 1px solid var(--color_black);
}

.perfil_autor div:nth-child(2) {
    color: color-mix(in srgb, var(--color_grey_secondary), transparent 30%);
    text-transform: uppercase;
    font-size: .8rem;
    font-weight: 500;
}

.topNav_menu {
    display: flex;
    align-items: center;
    gap: var(--gap_default_top_nav);
    height: 100%;
}

.topNav_menu a,
.mainNav_menu a {
    color: var(--color_grey_secondary);
    width: 100%;
    display: block;
    padding: 5px 15px;
    box-sizing: border-box;
    /* transition: .35s; */
}

.topNav_menu svg,
.mainNav_menu svg {
    vertical-align: text-top;
}

.topNav_menu,
.mainNav_menu {
    padding-left: var(--default_padding);
}

.mainNav {
    grid-column: 1;
    grid-row: 1 / -1;
    /* background-color: yellow; */

    max-height: 100vh;
    position: sticky;
    top: 0;
    display: flex;
    flex-direction: column;
}

main {
    grid-column: 2 / -1;
    grid-row: 2 / -1;

    gap: 1rem;
    padding: var(--default_padding);
    background-color: var(--color_grey);
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: min-content;

}

main>* {
    grid-column: span 1;
}

.summary {
    grid-column: span 2;

    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    padding: var(--midle_padding) var(--default_padding);
}

.separetor {
    width: 2px;
    background-color: var(--color_pip);
    align-self: stretch;
}

.summary article {
    font-size: 1rem;
}

.summary_number {
    color: var(--color_blue);
    margin-left: .4em;
    font-size: 1.3rem;
    font-weight: 600;
}


.btn {
    padding: .8em 1em;
    text-align: center;
    border-radius: 5px;
}

.summary_btn {
    background-color: var(--color_blue);
    color: var(--color_grey);
}

/* main figure:nth-child(2) {
    grid-column: span 2;
} */

.teste {
    grid-column: span 2;
}

.mainNav_LinkLogo {
    padding-left: var(--default_padding);
    padding-top: var(--default_padding_top);
    padding-right: 0;
    display: block;
    color: var(--color_black);
    text-transform: uppercase;
    text-decoration: none;
    font-size: 1.5rem;
}

.mainNav_menu:first-child {
    display: flex;
    flex-direction: column;
    gap: 1em;
    margin: 2em 0;
    border-bottom: 2px solid var(--color_pip);
}

.mainNav_menu:first-child li:last-child {
    padding-bottom: 1em;
}


.mainNav_menu:last-child {
    padding-bottom: var(--default_padding);
}

.mainNav_menus {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
}